fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.32
pydantic==2.8.2
pydantic-settings==2.4.0
pymysql==1.1.1
redis==5.0.8
pyjwt==2.9.0
passlib[bcrypt]==1.7.4
apscheduler==3.10.4
python-multipart==0.0.9
